@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  @font-face {
    font-family: Ginto;
    src: url('/Ginto.woff2');
  }

  body {
    @apply text-white overflow-x-clip min-h-screen font-ginto;
  }

  picture {
    @apply block relative size-full;
  }

  img {
    @apply size-full object-cover;
  }
}

@layer components {
  .header {
    @apply text-[2.375rem] leading-[2.5rem] tracking-[-0.02em] text-center font-medium;
  }

  .background {
    @apply fixed -z-10 h-screen w-screen top-0 left-0;
    background-image: linear-gradient(180deg, #0c101c, #171e32, #242f50);
  }
}
