@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  @font-face {
    font-family: Ginto;
    src: url('/Ginto.woff2');
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #0c101c;
  }

  body {
    @apply text-white overflow-x-clip min-h-screen font-ginto tracking-[-0.02em] text-pretty;
  }

  picture {
    @apply block relative size-full;
  }

  img {
    @apply size-full object-cover;
  }
}

@layer components {
  .header {
    @apply text-[2.375rem] leading-[2.5rem] tracking-[-0.02em] text-center font-medium text-[#F2DDCC];
  }

  .background {
    @apply fixed -z-10 h-screen w-screen top-0 left-0;
    background-image: linear-gradient(180deg, #0c101c, #171e32, #242f50);
  }

  .h2__class {
    @apply text-[1.75rem] leading-none tracking-[-0.01em] text-center font-medium text-[#F2DDCC] mt-7;
  }

  .h3__class {
    @apply font-medium text-[1.55rem] leading-none;
  }

  .blur__class::before {
    content: '';
    left: 0;
    bottom: 100%;
    position: absolute;
    height: 75px;
    width: 100%;
    background-image: linear-gradient(to top, #473d4d, transparent);
  }

  .input__class {
    opacity: 0;
    scale: 1.15;
    transform-origin: left;
    transform: translateX(-50%) translateY(25px);

    animation: appear 0.5s ease-in-out 0.2s forwards;
  }

  @keyframes appear {
    to {
      scale: 1;
      opacity: 1;
      transform: translateX(-50%) translateY(0px);
    }
  }
}
